verbosity = "{{ enduro_debug_verbosity }}"
debug = {{  enduro_debug_enabled }}
debugListen = "{{ enduro_listen_debug_address }}"

[temporal]
namespace = "{{ enduro_temporal_namespace }}"
address = "{{ enduro_listen_temporal_address }}"

[api]
listen = "{{ enduro_listen_api_address }}"
debug = {{ enduro_api_debug_enabled }}

[database]
dsn = "{{ enduro_db_user }}:{{ enduro_db_pass }}@tcp({{ enduro_db_host }}:{{ enduro_db_port | int }})/{{ enduro_db_name }}"

{% if enduro_filesystem_watchers|length > 0 %}
{% for watcher in enduro_filesystem_watchers %}
[[watcher.filesystem]]
name = "{{ watcher.name }}"
path = "{{ watcher.path }}"
inotify = "{{ watcher.inotify }}"
{% if watcher.pipeline is string %}
pipeline = "{{ watcher.pipeline }}"
{% else %}
pipeline = {{ watcher.pipeline | to_json }}
{% endif %}
stripTopLevelDir = "{{ watcher.stripTopLevelDir }}"
retentionPeriod = "{{ watcher.retentionPeriod }}"
rejectDuplicates = "{{ watcher.rejectDuplicates }}"
ignore = "{{ watcher.ignore }}"
excludeHiddenFiles = {{ watcher.excludeHiddenFiles }}
transferType = "{{ watcher.transferType }}"


{% endfor %}
{% endif %}

{% if enduro_filesystem_pipelines|length > 0 %}
{% for pipeline in enduro_filesystem_pipelines %}
[[pipeline]]
name = "{{ pipeline.name }}"
baseURL = "{{ pipeline.baseURL }}"
user = "{{ pipeline.user }}"
key = "{{ pipeline.key }}"
transferDir = "{{ pipeline.transfer_dir }}"
processingDir = "{{ pipeline.processing_dir }}"
processingConfig = "{{ pipeline.processing_config }}"
{% if pipeline.transferLocationID is defined %}
transferLocationID = "{{ pipeline.transferLocationID }}"
{% endif %}
storageServiceURL = "{{ pipeline.storageServiceURL }}"
capacity = {{ pipeline.capacity }}
retryDeadline = "{{ pipeline.retryDeadline }}"
transferDeadline = "{{ pipeline.transferDeadline }}"
unbag = {{ pipeline.unbag }}

{% endfor %}
{% endif %}

{% if enduro_minio_pipelines|length > 0 %}
{% for pipeline in enduro_minio_pipelines %}
[[watcher.minio]]
name = "{{ pipeline.watched_name }}"
redisAddress = "{{ pipeline.watched_redisAddress }}"
redisList = "{{ pipeline.watched_redisList }}"
endpoint = "{{ pipeline.watched_endpoint }}"
pathStyle = "{{ pipeline.watched_pathStyle }}"
key = "{{ pipeline.watched_key }}"
secret = "{{ pipeline.watched_secret }}"
region = "{{ pipeline.watched_region }}"
bucket = "{{ pipeline.watched_bucket }}"
pipeline = "{{ pipeline.name }}"
retentionPeriod = "{{ pipeline.watched_retentionPeriod }}"
stripTopLevelDir = "{{ pipeline.watched_stripTopLevelDir }}"
rejectDuplicates = "{{ pipeline.watched_rejectDuplicates | default('false') }}"

[[pipeline]]
name = "{{ pipeline.name }}"
baseURL = "{{ pipeline.baseURL }}"
user = "{{ pipeline.user }}"
key = "{{ pipeline.key }}"
transferDir = "{{ pipeline.transfer_dir }}"
processingDir = "{{ pipeline.processing_dir }}"
processingConfig = "{{ pipeline.processing_config }}"
{% if pipeline.transferLocationID is defined %}
transferLocationID = "{{ pipeline.transferLocationID }}"
{% endif %}
storageServiceURL = "{{ pipeline.storageServiceURL }}"
capacity = "{{ pipeline.capacity }}"
retryDeadline = "{{ pipeline.retryDeadline }}"
transferDeadline = "{{ pipeline.transferDeadline }}"

{% endfor %}
{% endif %}

[[hooks."hari"]]
mock = {{ hooks_hari_mock }}
disabled = {{ hooks_hari_disabled }}
baseURL = "{{ hooks_hari_baseURL }}"


[[hooks."prod"]]
receiptPath = "{{ hooks_prod_receiptPath }}"
disabled = {{ hooks_prod_disabled }}

[validation]
checksumsCheckEnabled = {{ validation_checksumsCheckEnabled }}

[metadata]
processNameMetadata = {{ metadata_processNameMetadata }}

[worker]
heartbeatThrottleInterval =  "{{ worker_heartbeatThrottleInterval }}"
maxConcurrentWorkflowsExecutionsSize = {{ worker_maxConcurrentWorkflowsExecutionsSize }}
maxConcurrentSessionExecutionSize = {{ worker_maxConcurrentSessionExecutionSize }}

[workflow]
activityHeartbeatTimeout = "{{ workflow_activityHeartbeatTimeout }}"

